body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
    list-style-type: none;
    font-family: "Courier New", Courier, monospace;
}

.sidebar li a {
    color: #1C1C1C;
}

.sidebar li a:hover {
    text-decoration: none;
    color: #ee4444;
    font-weight: bold;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.avatar {
    display: block;
    max-width:222px;
    max-height:200px;
    width: auto;
    height: auto;
}

.desc {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.post-title {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #1C1C1C;
}

.page_number {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #1C1C1C;
}

.prev-img {
    display: block;
    max-width:515px;
    width: auto;
    height: auto;
}

