body {
    padding-top: 50px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
    list-style-type: none;
    font-family: "Courier New", Courier, monospace;
}

.sidebar li a {
    color: #1C1C1C;
}

.sidebar li a:hover {
    text-decoration: none;
    color: #ee4444;
    font-weight: bold;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    font-family: "Lucida Grande", Arial Black, sans-serif;
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.avatar {
    width: 100%;
    height: auto;
    padding:5px;
    border:10px solid #1E1E1F;
    margin-bottom: 20px;
}

.desc {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.post-title {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #1C1C1C;
}

.page_number {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #1C1C1C;
}

.prev-img {
    display: block;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.post-image {
    display: block;
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.head-img-div {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-bottom-color: #1C1C1C;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.head-img {
    width: 100%;
    height: auto;
}

.sidebar {
    margin-left: auto;
    margin-right: auto;
}

.post-text {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

.post-text p {
    font-family: "Lucida Grande", Lucida Sans Typewriter, monospace;
    font-size: 1.25em;
    text-align: justify;
}

.sharing {
	height: 2em;
	width: 33%;
	float: left;
}

.sharing-parent {
	height: 2em;
	clear: both;
	margin-top: 3px;
	margin-bottom: 3px:
}

