---
layout: default
---

{% for post in paginator.posts %}
<div class="article">	
  <div class="well">
    <div class="custom-top">
        <h1><a href="{{ site.baseurl}}{{ post.url }}" class="post-title">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
    <div class="sharing-parent">
	<div class="sharing">
{% if site.comments == true and post.comments == true and site.disqus != '' %}
          <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread">Comments</a></p>
	  {% endif %}
          </div>
	<div class="sharing">
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.baseurl }}{{ post.url }}" data-text="{{ post.title }} {{ site.url }}{{ post.url }}" data-via="polefrone" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	  </div>
	  <div class ="sharing">
	  <div class="fb-share-button" data-href="{{ site.url }}{{ post.url }}" data-width="100" data-layout="icon_link"></div>
  	  </div>
        </div>
    </div>

	<div class="content">
            {% if post.image %}
              <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.url }}/images/{{ post.image }}" class="prev-img"></a>
            {% endif %}
            <div class="post-text">
              {{ post.content }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>
