<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>BACKSEAT PHILLIP</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:image" content="{{ site.url }}/images/{{ paginator.posts[0].image }}" />
    <meta property="og:title" content="{{ paginator.posts[0].title }}" />
    <meta property="og:description" content="{{ paginator.posts[0].content | strip_html | truncate: 80 | strip_newlines | escape_once }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@polefrone"/>
    <meta name="twitter:title" content="{{ paginator.posts[0].title }}" />
    <meta name="twitter:creator" content="@polefrone"/>
    <meta name="twitter:description" content="{{ paginator.posts[0].content | strip_html | truncate: 80 | strip_newlines | escape_once }}"/>
    <meta name="twitter:image:src" content="{{ site.url }}/images/{{ paginator.posts[0].image }}"/>
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
</head>

<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		      js = d.createElement(s); js.id = id;
		        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			  }(document, 'script', 'facebook-jssdk'));</script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                    <li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Links</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/archive.html">Archive</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/about.html">About</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
                    {% if site.github != '' %}
                      <li class="active"><a href="https://github.com/{{ site.github }}">Github</a></li>
                    {% endif %}
                </ul>
              </div>
        </div>    
    </div>
</div>
<div class="head-img-div">
      <img src="{{ site.url }}/images/HEADER.jpg" class="head-img">
</div>
