<div class="sidebar prof-box">
<img src="{{ site.url }}/images/{{ site.avatar }}" alt="{{ site.owner.name }} photo" class="avatar prof-image">
</div>

<div class="sidebar well">
<h1>BACKSEAT PHILLIP</h1>
<p class="desc">{{ site.description }}</p>
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<!--
<div class="sidebar well">
{% include links-list.html %}
</div>-->
