<div class="sidebar">
<a href="http://prpole.github.io"><img src="{{ site.url }}/images/{{ site.avatar }}" alt="{{ site.owner.name }} photo" class="avatar"></a>
</div>

<div class="sidebar well">
<h1>BACKSEAT PHILLIP</h1>
<p class="desc">{{ site.description }}</p>
</div>

<div class="sidebar well" style="width:40%">
	<div class="sb-share">
	<div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ paginator.posts[0].title }}" data-url="{{ site.url }}/#{{ paginator.posts[0].timestamp }}" data-dnt="true" data-count="none">Tweet</a>
	                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> <!-- data-text="{{ post.title }} {{ site.url }}{{ post.url }}{% if post.timestamp %}/#{{ post.timestamp }}{% endif %}"-->
	</div>
	<div>
		<div class="fb-share-button" data-href="{{ site.url }}/#{{ paginator.posts[0].timestamp }}" data-width="30" data-layout="icon_link"></div>
	</div>	
	</div>
	</div>


<div class="sidebar well hidden-xs">
    <h1>contents</h1>
    <ul>
        {% for post in site.posts %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<!--
<div class="sidebar well">
{% include links-list.html %}
</div>-->
